.navbar {
  background-color: black;
  width: 100%;
  flex-direction: row;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar a {
  color: white;
  margin: 20px;
  
  border-radius: 25px;
  padding: 5px;
}

.navbar a:hover {
  background-color: gray;
  transition-duration: 0.3s;
}
